Source: swh-vault
Maintainer: Software Heritage developers <swh-devel@inria.fr>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-python (>= 2),
               python3-all,
               python3-click,
               python3-dateutil,
               python3-dulwich,
               python3-fastimport,
               python3-flask,
               python3-pytest,
               python3-pytest-postgresql,
               python3-pytest-aiohttp,
               python3-pytest-mock,
               python3-psycopg2,
               python3-setuptools,
               python3-setuptools-scm,
               python3-swh.core (>= 0.0.65~),
               python3-swh.loader.git,
               python3-swh.model (>= 0.3.0~),
               python3-swh.objstorage (>= 0.0.17~),
               python3-swh.scheduler (>= 0.0.39~),
               python3-swh.storage (>= 0.0.108~),
               postgresql-contrib,
               git
Standards-Version: 3.9.6
Homepage: https://forge.softwareheritage.org/diffusion/DVAU/

Package: python3-swh.vault
Architecture: all
Depends: python3-swh.core (>= 0.0.65~),
         python3-swh.model (>= 0.3.0~),
         python3-swh.objstorage (>= 0.0.17~),
         python3-swh.scheduler (>= 0.0.39~),
         python3-swh.storage (>= 0.0.108~),
         ${misc:Depends},
         ${python3:Depends}
Description: Software Heritage Vault
